<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <h3 class="footertext slogan" style="padding-top:30px">About Sparked:</h3>
            <br>
              <div class="col-md-4 col-lg-4">
                <div class="slogan">
                  <!--<img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">-->
                  <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Monitor</h4>
                  <p class="footertext">Track caffeine as you consume it.<br>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="slogan">
                  <!--<img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">-->
                  <i class="fa fa-table fa-5x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Library</h4>
                  <p class="footertext">Extensive list of drinks and caffeine levels.<br>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="slogan">
                  <!--<img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">-->
                  <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Duration</h4>
                  <p class="footertext">Keep track of when the your favorite beverage wears off .<br>
                </div>
              </div>
            </div>
            <!--<div class="row">
            <p><div><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></div></p>
        </div>-->
    </div>
</div>