<nav class="navbar" style="background-color: #5bc0de">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['home']">Sparked</a>
  </div>      

  <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li *ngIf="userAuth.loggedIn()"><a [routerLink]="['user/profile']">Profile</a></li>
        <li *ngIf="userAuth.loggedIn()"><a [routerLink]="['dashboard']">Dashboard</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userAuth.loggedIn()"><a [routerLink]="['signUp']">Register </a></li>
        <li *ngIf="userAuth.loggedIn()"><a href="#" (click)="onLogoutClick()">LogOut </a></li>
        
      </ul>
    </div>
</nav>
