<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Search Drinks</h2>
            <button class="customScroll-chevron">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <button type="button" 
                class="btn btn-default btn-circle btn-xl"
                [class.active]="filterBy==='all'"
                (click)="filterBy='all'">
                All
            </button>
            <button type="button" 
                class="btn btn-primary btn-circle btn-xl"
                [class.active]="filterBy==='energy'" 
                (click)="filterBy='energy'">
                Energy Drinks
            </button>
            <button type="button" 
                class="btn btn-success btn-circle btn-xl"
                [class.active]="filterBy==='coffee'" 
                (click)="filterBy='coffee'">
                Coffee
            </button>
            <button type="button" 
                class="btn btn-info btn-circle btn-xl"
                [class.active]="filterBy==='tea'" 
                (click)="filterBy='tea'">
                Tea
            </button>
            <button type="button" 
                class="btn btn-warning btn-circle btn-xl"
                [class.active]="filterBy==='shot'" 
                (click)="filterBy='shot'">
                Shot    
            </button>
            <button type="button" 
                class="btn btn-danger btn-circle btn-xl"
                [class.active]="filterBy==='water'" 
                (click)="filterBy='water'">
                Water
            </button>
            <!-- TODO need some form of regex or add on for cola-->
            <button type="button" 
                class="btn btn-danger btn-circle btn-xl"
                [class.active]="filterBy==='soda'" 
                (click)="filterBy='soda'">
                Soft Drink
            </button>
            <!--********************-->
            <button class="customScroll-chevron">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <collapsible-panel [filterBy]="filterBy" [drinks]="caffDrinks">    
            </collapsible-panel>
        </div>     
    </div>
    
</div>


 <!--<pagination 
                class="pagination-sm"
                [itemsPerPage]="10"
                [totalItems]="bigTotalItems" 
                [(ngModel)]="bigCurrentPage" 
                [maxSize]="maxSize" 
                [boundaryLinks]="true" 
                [rotate]="false" 
                (numPages)="numPages = $event">
            </pagination>-->


            <!--<div class="col-md-6">-->
            <!--<pagination [directionLinks]="false" 
                [totalItems]="totalPagerItems" 
                [itemsPerPage]='noOfItemsPerPage' 
                [(ngModel)]="currentPagerPage"
                (pageChanged)="buildPageContents();" 
                (numPages)="smallnumPagerPages = $event">
            </pagination>
    
            <pager [totalItems]="totalPagerItems"
                [(ngModel)]="currentPagerPage"
                [itemsPerPage]='noOfItemsPerPage'
                (pageChanged)="pageChanged($event)"
                pageBtnClass="btn">
            </pager>-->
        <!--</div>-->