<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-lg" role="group"> 
                <button class="btn btn-default" 
                    [class.active]="filterBy==='all'"
                    (click)="filterBy='all'">All</button>
                <button class="btn btn-default" 
                    [class.active]="filterBy==='energy'" 
                    (click)="filterBy='energy'">Energy Drinks</button>
                <!--<button class="btn btn-default" [class.active]="" (click)="">Soft Drink</button>-->
                <button class="btn btn-default" 
                    [class.active]="filterBy==='energy'" 
                    (click)="filterBy='coffee'">Coffee</button>
                <button class="btn btn-default" 
                    [class.active]="filterBy==='tea'" 
                    (click)="filterBy='tea'">Tea</button>
                <button class="btn btn-default" 
                    [class.active]="filterBy==='shot'" 
                    (click)="filterBy='shot'">Shot</button>
            </div>
            
            
        </div>
    </div>
    <div class="row">
        <div>
            <collapsible-panel [filterBy]="filterBy" [drinks]="caffDrinks">    
            </collapsible-panel>
        </div>     
    </div>
    
</div>


 <!--<pagination 
                class="pagination-sm"
                [itemsPerPage]="10"
                [totalItems]="bigTotalItems" 
                [(ngModel)]="bigCurrentPage" 
                [maxSize]="maxSize" 
                [boundaryLinks]="true" 
                [rotate]="false" 
                (numPages)="numPages = $event">
            </pagination>-->


            <!--<div class="col-md-6">-->
            <!--<pagination [directionLinks]="false" 
                [totalItems]="totalPagerItems" 
                [itemsPerPage]='noOfItemsPerPage' 
                [(ngModel)]="currentPagerPage"
                (pageChanged)="buildPageContents();" 
                (numPages)="smallnumPagerPages = $event">
            </pagination>
    
            <pager [totalItems]="totalPagerItems"
                [(ngModel)]="currentPagerPage"
                [itemsPerPage]='noOfItemsPerPage'
                (pageChanged)="pageChanged($event)"
                pageBtnClass="btn">
            </pager>-->
        <!--</div>-->