<div class="container">
	<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-4 col-lg-offset-2">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h2 class="panel-title">Please sign up for Sparked <small>It's free!</small></h2>
			 			</div>
			 			<div class="panel-body">
							<form [formGroup]="signUpForm" (ngSubmit)="registerUser(signUpForm.value)"role="form" autocomplete="off" novalidate>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input formControlName="first_name" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input formControlName="last_name" type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name">
										</div>
									</div>
								</div>

								<div class="form-group">
									<input formControlName="email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input formControlName="password" type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
										</div>
									</div>
								</div>
								
								<input  type="submit" value="Register" class="btn btn-info btn-block">
								
						</form>
				</div>
			</div>
		</div>
	</div>
</div>
