<div class="container">
	<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-4 col-lg-offset-2">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h2 class="panel-title">Please sign up for Sparked <small>It's free!</small></h2>
			 			</div>
			 			<div class="panel-body">
							<form [formGroup]="signUpForm" (ngSubmit)="registerUser(signUpForm.value)"role="form" autocomplete="off" novalidate>
								<!--<div class="row">-->
									<!--<div class="col-xs-6 col-sm-6 col-md-6" [ngClass]="{'error': !validateFirstName()}">
										<div class="form-group">
											<em *ngIf="!validateFirstName()">Required</em>
											<input formControlName="first_name" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group" [ngClass]="{'error': !validateLastName()}">
											<em *ngIf="!validateLastName()">Required</em>
											<input formControlName="last_name" type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name">
										</div>
									</div>-->
								<!--</div>-->
								<div class="form-group" [ngClass]="{'error': !validateusername()}">
									<em *ngIf="!validateusername()">Required</em>
									<input formControlName="username" type="text" [(ngModel)]="username" name="username" id="username" class="form-control input-lg" placeholder="user name">
								</div>

								<div class="form-group" [ngClass]="{'error': !validateEmail()}">
									<em *ngIf="!validateEmail()">Required</em>
									<input formControlName="email" type="email" [(ngModel)]="email"name="email" id="email" class="form-control input-lg" placeholder="Email Address">
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6" [ngClass]="{'error': !validatePassword()}">
										<div class="form-group">
											<em *ngIf="!validatePassword()">Required</em>
											<input formControlName="password" type="password" [(ngModel)]="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<em *ngIf="!validatePassword()">Required</em>
											<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
										</div>
									</div>
								</div>
								
								<input  type="submit" value="Register" class="btn btn-info btn-block">
								
						</form>
				</div>
			</div>
		</div>
	</div>
</div>
